.box {
    height: 450px;
    margin: 15px 0px 15px 0px;
    // padding: 10px;
    padding-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.378);
    display: flex;
    flex-direction: column;
    justify-content: top;
    transition: all 0.7s;

    .box_content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_box {
            height: 60px;
            width: 100%;
            background-color: $color1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            h1 {
                color: $color8;
                text-transform: capitalize;
            }
        }

        .title_box:hover {
            transform: scale(1.1);
        }

        .description {
            margin-top: 50px;
            margin-bottom: 20px;
            padding: 10px;
            font-family: $rubik;
            font-weight: bold;
        }

        .comenzar_button {
            width: 60%;
            margin-top: 50px;
            padding: 10px 15px;
            border: 1px solid black;
            border-radius: 30px;
            background-color: $color1;
            text-align: center;
            text-transform: uppercase;
            font-family: $rubik;
            font-weight: 400;
            font-style: normal;
            transition: 0.3s;

            .comenzar {
                color: $color8;
            }
        }

        .comenzar_button:hover {
            box-shadow: 0 0 5px black;
            transform: scale(1.1);
        }
    }
}


@media only screen and (min-width: 760px) {
    .box_content {
        .title_box h1 {
            font-size: 50px;
        }

        .description {
            font-size: 25px;
        }

        .comenzar {
            font-size: 25px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .empty_box {
        grid-area: a1;
    }

    #box_one {
        grid-area: a2;
    }

    #box_two {
        grid-area: a3;
    }

    #box_three {
        grid-area: a4;
    }

    #box_four {
        grid-area: a5;
    }

    .box {
        height: 200px;
        margin: 0px 20px;

        .box_content {
            .title_box {
                height: fit-content;

                h1 {
                    margin: 0;
                    padding: 5px;
                    padding-bottom: 7px;
                    font-size: 25px;
                }
            }

            .description {
                margin: 0;
                margin-top: 10px;
                padding: 0;
                font-size: 13px;
            }

            .comenzar_button {
                margin: 0;
                margin-top: 20px;
                padding: 0;

                .comenzar {
                    font-size: 13px;
                }
            }
        }
    }
}