.box {
    height: 450px;
    margin: 15px 0px 15px 0px;
    // padding: 10px;
    padding-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.378);
    display: flex;
    flex-direction: column;
    justify-content: top;
    transition: all 0.7s;

    .box_content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title_box {
            background-color: $color1;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            width: 100%;

            h1 {
                color: $color8;
                text-transform: capitalize;
            }
        }

        .title_box:hover {
            transform: scale(1.1);
        }

        .description {
            padding: 10px;
            margin-top: 50px;
            margin-bottom: 20px;
            font-weight: bold;
            font-family: $rubik;
        }

        .comenzar_button {
            text-align: center;
            margin-top: 50px;
            padding: 10px 15px;
            border: 1px solid black;
            background-color: $color1;
            border-radius: 30px;
            width: 60%;
            text-transform: uppercase;
            font-family: $rubik;
            font-weight: 400;
            font-style: normal;
            transition: 0.3s;

            .comenzar {
                color: $color8;
            }
        }

        .comenzar_button:hover {
            box-shadow: 0 0 5px black;
            transform: scale(1.1);
        }
    }
}


@media only screen and (min-width: 760px) {
    .box_content {
        .title_box h1 {
            font-size: 50px;
        }

        .description {
            font-size: 25px;
        }

        .comenzar {
            font-size: 25px;
        }
    }
}

// .box_one {
//     margin-top: 200px;
// }