.cour {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 185px 100px 1880px;

    .title_box {
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color1;

        .cour_title {
            margin-top: 8px;
            color: $color8;
            font-family: $rubik;
            font-weight: 400px;
        }
    }

    .text_box {
        height: fit-content;
        padding-bottom: 20px;
        display: grid;
        grid-template-rows: 530px 400px 410px 520px;
        align-items: center;
        background-color: $color8;

        h3 {
            width: fit-content;
            margin: 0;
            padding: 10px 10px;
            color: $color8;
            background-color: $color4;
            border-radius: 40px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .cour_txt {
            // height: 450px;
            height: fit-content;
            width: 90%;
            padding: 20px 0;
            border: 7px solid $color4;
            border-radius: 20px;
            background-color: $color8;
            display: flex;
            flex-flow: column;
            justify-self: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $rubik;
            font-weight: 500;



            .cour_sect {
                width: 100%;
                padding-top: 20px;
                text-align: center;
                display: grid;
                grid-template-columns: repeat(2, 50%);

                h4 {
                    margin: 0;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        span {
                            color: $color5;
                        }
                    }
                }

                .sub_li {
                    font-size: 10px;
                    padding-bottom: 10px;
                }
            }

            h6 {
                width: 100%;
                font-size: 18px;
                margin-bottom: 0;
                margin-top: 20px;
                padding: 10px 0;
                background-color: $color4;

                span {
                    color: $color5;
                }
            }

            .ap_lev {
                margin-top: 10px;
                width: 100%;

                h5 {
                    margin-bottom: 0;
                }

                ul {
                    margin: 0;
                    padding: 0;
                }
            }

            .ap_disclaimer {
                width: 100%;
                margin-top: 10px;

                h5 {
                    color: $color8;
                    margin-bottom: 0;
                    background-color: $color4;
                }

                h4 {
                    margin-top: 5px;
                    margin-bottom: 0;
                    padding: 5px 0;
                    background-color: $color5;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: 800;
                }
            }

            .prep_ul {
                margin-top: 10px;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 19px;
                        text-decoration: underline solid $color4;
                    }
                }
            }

            .conv {
                padding: 0 15px;

                p {
                    margin-top: 10px;
                    margin-bottom: 0;

                    span {
                        text-transform: uppercase;
                        color: $color5;
                        font-weight: 800;
                    }
                }
            }

            .sign_in_button2 {
                margin-top: 25px;

                .inscribite2 {
                    padding: 10px 15px;
                    color: $color8;
                    background-color: $color1;
                    border: 1px solid black;
                    border-radius: 30px;
                    text-transform: uppercase;
                    font-family: $madimi;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 25px;
                    transition: 0.3s;
                }

                .inscribite2:hover {
                    box-shadow: 0 0 5px black;
                    transform: scale(1.1);
                }
            }

        }
    }
}

@media only screen and (min-width: 760px) {
    .cour {
        grid-template-rows: 310px 100px 1150px;

        .text_box {
            height: fit-content;
            margin-top: 20px;
            padding-bottom: 20px;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 550px);
            justify-content: center;
            align-items: center;

            .cour_txt {
                align-self: start;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .cour {
        grid-template-rows: 110px 100px 1150px;

        .text_box {
            height: fit-content;
            margin-top: 20px;
            padding-bottom: 20px;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 550px);
            justify-content: center;
            align-items: center;

            .cour_txt {
                align-self: start;
            }
        }
    }
}