.que {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 185px 100px 820px;

    .title_box {
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color1;

        .que_title {
            margin-top: 8px;
            color: $color8;
            font-family: $rubik;
            font-weight: 400px;
        }
    }

    .text_box {
        height: fit-content;
        padding-bottom: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: $color8;

        section {
            margin-top: 20px;
            background-color: $color8 !important;

            .container {
                .fst_box {
                    .snd_box {
                        p {
                            color: #000 !important;
                            font-family: $rubik;
                            font-size: 20px;
                        }
                    }
                }
            }

            .container {
                .fst_box {
                    .snd_box {
                        .form_box {
                            background-color: $color1 !important;

                            label {
                                font-family: $rubik;
                                font-size: 30px;
                                font-weight: 500 !important;
                            }

                            input {
                                background-color: $color8;
                                font-family: $rubik;
                            }
                        }

                        button {
                            border: 1px solid $color3;
                            background-color: $color4;
                            text-transform: uppercase;
                            font-family: $rubik;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 760px) {
    .que {
        grid-template-rows: 310px 100px 900px;

        .text_box {
            height: 900px;
            padding-bottom: 20px;
            justify-content: center;
            align-items: center;

            .serv_txt {
                font-size: 23px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .que {
        grid-template-rows: 110px 100px 800px;

        .text_box {
            height: fit-content;
            margin: 0 5px;
            padding-bottom: 20px;
            justify-content: center;
            align-items: center;

            .serv_txt {
                font-size: 15px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .que {
        grid-template-rows: 110px 100px 900px;
    }
}