.que {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 185px 100px 700px;

    .title_box {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color1;
        padding: 10px;

        .que_title {
            margin-top: 8px;
            font-family: $rubik;
            font-weight: 400px;
            color: $color8;
        }
    }

    .text_box {
        height: fit-content;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: $color8;
        padding-bottom: 20px;
        section{
            margin-top: 20px;
            background-color: $color8 !important;
            .container{
                .fst_box{
                    .snd_box{
                        p{
                            color: #000 !important;
                            font-size: 20px;
                        }
                    }
                }
            }
            .container{
                .fst_box{
                    .snd_box{
                        .form_box{
                            background-color: $color1 !important;
                            label{
                                font-size: 20px;
                                font-weight: 500 !important;
                            }
                            input{
                                background-color: $color8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 760px) {
    .que {
        grid-template-rows: 310px 100px 900px;

        .text_box {
            height: 900px;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            .serv_txt{
                font-size: 23px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .que {
        grid-template-rows: 110px 100px 800px;

        .text_box {
            height: fit-content;
            padding-bottom: 20px;
            margin: 0 5px;
            align-items: center;
            justify-content: center;
            .serv_txt{
                font-size: 15px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .que {
        grid-template-rows: 110px 100px 900px;
    }
}