.serv {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 185px 100px 1650px;

    .title_box {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color1;
        padding: 10px;

        .serv_title {
            margin-top: 8px;
            font-family: $rubik;
            font-weight: 400px;
            color: $color8;
        }
    }

    .text_box {
        height: fit-content;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: $color8;
        padding-bottom: 20px;

        .serv_txt {
            height: 200px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $rubik;
            font-weight: 500;

            h3{
                margin: 0;
                text-transform: uppercase;
                font-weight: 600;
                color: $color8;
                background-color: $color4;
                padding: 10px 10px;
                border-radius: 40px;
            }

            p{
                margin-top: 20px;
                margin-bottom: 0;
                height: fit-content;
            }

            .servp_2 {
                margin-top: 30px;
            }
        }

        .img {
            height: 200px;
            border: 1px solid #000;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .img1 {
            background-image: url(../media/clases.jpg);
        }

        .img2 {
            background-image: url(../media/apoyo.jpg);
        }

        .img3 {
            background-image: url(../media/examen.jpg);
        }

        .img4 {
            background-image: url(../media/conversation.jpg);
        }
    }
}

@media only screen and (min-width: 760px) {
    .serv {
        grid-template-rows: 310px 100px 900px;

        .text_box {
            height: 900px;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(4, 220px);
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            .serv_txt{
                font-size: 23px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .serv {
        grid-template-rows: 110px 100px 450px;

        .text_box {
            height: 450px;
            padding-bottom: 20px;
            margin: 0 5px;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(2, 220px);
            align-items: center;
            justify-content: center;
            .serv_txt{
                font-size: 15px;
            }
        }
    }
}